@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: ComfortaaLight;
  src: url(/src/assets/fonts/Comfortaa-Light.ttf);
}

@font-face {
  font-family: ComfortaaRegular;
  src: url(/src/assets/fonts/Comfortaa-Regular.ttf);
}

@font-face {
  font-family: ComfortaaBold;
  src: url(/src/assets/fonts/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(/src/assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(/src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(/src/assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(/src/assets/fonts/Montserrat-Bold.ttf);
}

body {
  margin: 0;
  font-family: MontserratRegular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}
